* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

  
  a:hover {
    color: #25d31b;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
  }

  button {
    border: 0;
    padding: 1%;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #34eb90;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #22a36d;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #34eb59;
  }
  
  .delete-post-btn {
    background-color: #d49114;
  }

  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #ebfffd;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .delete-post-btn:hover {
    background-color: #ffae3dd8;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .card {
    margin-bottom: 1em;
    margin-top: 1em;
}

.rows{
    display:flex;
    flex-direction: column;
}

  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

