* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  a:hover {
    color: #50ec48;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(51, 51, 51);
  }

  .post-list {
    margin: 0;
    padding: 0;
  }
  form > div {
    margin-bottom: 2%;
  }


  button {
    border: 0;
    padding: 1%;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 6px;
  }

  
  form label {
    display: block;
  }
  header {
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #34eb5f;
  }
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  

  textarea {
    min-width: 41%;
    min-height: 100px;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    color: #22a338;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    transition: color .1s;
    margin-left: 15px;
  }

  .delete-post-btn {
    background-color: #d44e14;
  }
  
  .btn-no-style:hover {
    color: #eb9f34;
    background: none;
  }
  
  main {
    padding: 2% 4%;
    flex: 1;
  }
  


  .comment-form {
    margin-bottom: 6%;
  }
  
  .comment {
    margin-bottom: 1%;
    padding: 1%;
  }
  .comment .meta {
    margin-bottom: .5%;
    font-size: 90%;
    opacity: .6;
  }
  
  
  .comment:nth-child(odd) {
    background-color: #ebfff9;
  }

  .post {
    line-height: 150%;
    margin-bottom: 2%;
  }

  .post .title span {
    color: #7d7d7d;
    font-style: italic;
    font-size: 90%;
  }
  
  
  .delete-post-btn:hover {
    background-color: #ff743dd8;
  }

  .edit-link {
    margin: -1.5% 0 2% 0;
    display: block;
  }
  
  .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.rows{
  flex-direction: column;
    display:flex;
    
}

  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid rgba(204, 204, 204, 0.86);
    justify-content: center;
    font-size: 110%;
    display: flex;
    padding: 1%;
  }

